h1 {
    color: #E96B10;
}

h3,
h4 {
    color: #E96B10;
}

body {
    background-image: url('seattle-space-needle-1024x674.jpg');
}

img {
    width: 400px;
}

#spanId {
    margin: 50px;
    font-size: 18px;
    color: white;
}

#thirdDiv {
    color: white;
    border: dotted 5px;
    border-color: rgb(41, 40, 40;
    padding: 50;
    height: 600px;
    width: 500px;
    background-color: #E96B10;
}